In [1]:
import numpy as np
import pandas as pd

In [2]:
dataframe=pd.read_csv("ex10xZUSDx85.csv", sep="-", header=None)
dataframe

,0,1
0,25.03.2020 00:00:01:865,"{""Bids"":[[6766.8,0.008],[6765.5,0.213],[6764...."
1,25.03.2020 00:00:02:923,"{""Bids"":[[6765.6,0.154],[6765.5,0.213],[6764...."
2,25.03.2020 00:00:03:966,"{""Bids"":[[6765.5,0.263],[6764.7,0.01],[6764.6..."
3,25.03.2020 00:00:05:985,"{""Bids"":[[6765.5,0.367],[6764.7,0.01],[6764.6..."
4,25.03.2020 00:00:07:405,"{""Bids"":[[6765.5,0.316],[6764.7,0.01],[6764.6..."
...,...,...
49798,25.03.2020 23:59:50:788,"{""Bids"":[[6691.8,6.394],[6690.2,0.139],[6690...."
49799,25.03.2020 23:59:51:821,"{""Bids"":[[6690.2,0.139],[6690.1,0.7],[6689.9,..."
49800,25.03.2020 23:59:53:861,"{""Bids"":[[6690.1,0.7],[6689.9,0.7],[6689.5,8...."
49801,25.03.2020 23:59:55:985,"{""Bids"":[[6690.1,0.7],[6689.9,0.7],[6689.5,8...."
49802,25.03.2020 23:59:57:988,"{""Bids"":[[6690.1,0.7],[6689.9,0.7],[6689.5,8...."

In [3]:
dataframe[0]=dataframe[0].astype('str')

In [ ]:
eval(dataframe[1][0])["Asks"][0][0]

In [ ]:
tempDataFrame=dataframe
tempDataFrame[1]=tempDataFrame[1].apply(lambda x: dict(eval(x)))
bidsAndAsks=tempDataFrame[1].apply(pd.Series)

In [ ]:
dataframe=dataframe.drop([1], axis=1)
dataframe.head()

In [ ]:
semiFinalDataframe=pd.concat([dataframe, bidsAndAsks], axis=1)
semiFinalDataframe.tail()

In [ ]:
semiFinalDataframe.dtypes

In [ ]:
newRow=semiFinalDataframe.loc[semiFinalDataframe[0] == "25.03.2020 23:59:57:988 "]

In [ ]:
newRow["Asks"][49802][0][0]

# Begin Formulation from below

In [4]:
import numpy as np
import pandas as pd

In [5]:
def GiveMeThePrice(dataframe):
    date=input("Which day and time do you want the price of: ")
    if date[-1]!=" ":
        date+=" "
    if len(date)>19:     
        newRow=dataframe.loc[dataframe[0] == date]
        index=dataframe.loc[dataframe[0] == date].index
    
    print(eval(newRow[1][index[0]])["Asks"][0][0])
    print("The price in date {} and time {} was ${}".format(date[:10],date[11:],eval(newRow[1][index[0]])["Asks"][0][0]))
    return eval(newRow[1][index[0]])["Asks"][0][0]

In [6]:
GiveMeThePrice(dataframe)

Which day and time do you want the price of: 25.03.2020 00:00:01:865
6766.9
The price in date 25.03.2020 and time 00:00:01:865  was $6766.9

6766.9

In [ ]:
GiveMeThePrice(semiFinalDataframe)